

.arena{
    border:2px solid black;
    position:absolute;
}

.robot{
    position:absolute;
    width:10px;
    height: 10px;
    background-color: blue;
    border-radius: 5px;
    color:white;
    text-align: center;
    margin-top:-5px;
    margin-left:-5px;
}


.bomb{
    position:absolute;
    width:6px;
    height: 6px;
    background-color: black;
    margin-top:-3px;
    margin-left:-3px;
    border-radius: 50%;
}

.explosion{
    position:absolute;
    z-index:-1;
    border-radius: 50%;
    background: radial-gradient(circle, red 0% , rgba(255,255,0,0.5) 100%);
}

.scan {
    position:absolute;
    z-index:-2;
    border-radius: 50%;
}